*{
	margin:0;
	padding: 0;
}
body{
	background: #ffffff;  
    background: -webkit-linear-gradient(to top, #3f3f3f, #c4c4c4);  
    background: linear-gradient(to top, #3f3f3f, #c4c4c4);
	width: 100%;
	height: 100vh;
}

.foot-cont{
    width: 100%;
    height: auto;
    background-color: #000000;
    color: white;
}
.container{
	position: absolute;
	top: 80px;
	left: 100px;
	right: 100px;
	bottom: 80px;
	background: rgba(0,0,0,0.7);
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container h2{
	text-align: center;
	font-size: 10em;
	line-height: 0.7em;
	color: #e0e0e0;
	margin-top: -80px;
}
.container h2 span{
	display: block;
	font-weight: 300;
	letter-spacing: 7px;
	font-size: 0.2em;
}
.countdown{
	display: flex;
	margin-top: 50px;
}
.countdown div{
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: rgba(0,0,0,0.1);
	color: #fff;
	margin: 0 15px;
	font-size: 3em;
	border-radius: 50%;
	box-shadow: 1px 1px 1px 1px #e0e0e0;
}
.countdown div:before{
	content: '';
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid rgb(255, 255, 255);
	color: #e0e0e0;
	font-size: 0.35em;
	line-height: 35px;
	font-weight: 300;
}

.countdown #day:before{
	content: 'Dia';
}
.countdown #hour:before{
	content: 'Hora';
}
.countdown #minute:before{
	content: 'Minutos';
}
.countdown #second:before{
	content: 'Segundos';
}